@import 'scss_variables';

html{ 

}

/* Apply styles to HTML elements */
body {
  

}
  
header {
  
}

h1{
  
}

nav {
  
}

main {
  
}
  
  /* Add styles for other sections as needed */
main section {
 
}

main section {    
  
}

section {

}

footer {
 
}

/* Define styles for the RSVP button */
.rsvp-button {
 
  
}

//darken is part of sassscript
// https://sass-lang.com/documentation/modules/color/
.rsvp-button:hover {
  background-color: darken($secondary-color, 10%);
}

 ///////////////// Media Query ///////////////////////
 
//$widebreakpoint: 1000px;
//$breakpoint:800px;

 /* Responsive styles for smaller screens */
@media (max-width: $widebreakpoint) {
 
}


@media (max-width: $breakpoint) {
    main{
      background-color: rgb(92, 4, 92);
      flex-direction: column;
    }

/* Styles for the menu toggle icon
setting up hamburger menu */
  .menu-toggle {
  

      /* Define the styles for the three bars of the hamburger icon */
      .bar {
          
      }
  }

  /* Styles for the mobile menu */
  .mobile-menu {
    
 
}

/* Media query to display 
the hamburger menu when the 
screen is smaller than 700px */
@media (max-width: $breakpoint) {
  .menu-toggle {
      display: block; /* Show the menu toggle icon */
  }

  .mobile-menu {
      //sassscript here

      box-shadow: 0 4px 6px rgba(241, 137, 137, 0.1);
      z-index: 2;

      ul {
          
      }
  }
}

/* Add the animation for the hamburger icon when the menu is open */
.menu-toggle.active {
    .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .bar:nth-child(2) {
        opacity: 0;
    }
    .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}